/* KLEURENPALET

BACKGROUND: #FFFAF0
ROOD: #EE7966
GROEN: #82BD8B
ZWART: #3f464c

*/

*{
    margin: 0;
    padding: 0;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.hide{
    display: none;
}
.color0{
    background-color: #EE7966;
}
.color1{
    background-color: #8AC9BA;
}
.color2{
    background-color: #75B588;
}
.color3{
    background-color: #F28B66;
}
.color4{
    background-color: #6197D0;
}
.color5{
    background-color: #9F72B7;
}
.color6{
    background-color: #E97696;
}
.color7{
    background-color: #E9BA76;
}
.color8{
    background-color: #D05472;
}
.color9{
    background-color: #5B996E;
}

article.preloader{
    position: fixed;
    z-index: 9998;
    width: 100%;
    height: 100%;
    background-color: #FFF8E8;
}
article.preloader section{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    background-image: url(../pics/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    -webkit-animation: logo_inside 2s linear infinite;
    -moz-animation: logo_inside 2s linear infinite;
    -ms-animation: logo_inside 2s linear infinite;
    animation: logo_inside 2s linear infinite;
}

article.achievement_container{
    position: fixed;
    z-index: 9999;
    background-color: rgba(62,70,77,.6);
    width: 100%;
    height: 100%;
    display: none;
}

article.achievement_container section{
    position: relative;
    width: 350px;
    left: 50%;
    margin-left: -175px;
    height: 420px;
    top: 50%;
    margin-top: -210px;
    background-color: #FFFAF0;
    border: 3px solid rgba(63,70,77,1);
    border-radius: 15px;
    text-align: center;
    opacity: 0;
    
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    
}
article.achievement_container.open{
    display: block;
}
article.achievement_container.open section{
    opacity: 1;
}


article.achievement_container section img{
    
    height: 120px;
    margin: 75px 0 50px 0;
    border-radius: 50%;
    border: 4px solid rgba(62,70,77,1);
}

article.achievement_container section a{

    position: absolute;
    display: block;
    top: 5%;
    left: 95%;
    margin-left: -25px;
    width: 25px;
    height: 25px;
    background-image: url(../pics/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

article.achievement_container section h1{

    font-size: 1.3em;
    font-family: Bariol_Bold;
    margin-bottom: 30px;
    color: rgba(242,126,107,1);
    text-transform: uppercase;
}

article.achievement_container section p{

    font-size: 1em;
    color: rgba(63,70,77,1);
    text-transform: uppercase;
}

header#main_head{
    position: fixed;
    width: 100%;
    background-color: #FFFAF0;
    left: 0;
    top: 0;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    -webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,.1);
    box-shadow: 0 3px 0 0 rgba(0,0,0,.1);

}
header#main_head.close{
    top: -100;
}
header#main_head nav.main{
    width: 90%;
    padding: 0 5%; 
    height: 100px;

}
header#main_head nav.main ul{
    width: 100%;
    float: left;
    height: 75px;
    margin-top: 15px;
    text-align: center;
}
header#main_head nav.main ul li{

    display: block;
    float: left;
    width: 50%;
    padding: 0 5%;
    height: 75px;
    text-align: center;
    line-height: 75px;
}
header#main_head nav.main ul li:first-child{
    width: 10%;
    height: 50px;
    margin-top: 16px;
}
header#main_head nav.main ul li:last-child{
    width: 10%;
    height: 50px;
    margin-top: 16px;
}
header#main_head nav.main ul li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
header#main_head nav.main ul li img{
    margin-top: 10px;
    height: 50px;
}
header#main_head nav.main ul li:first-child img{
    height: 30px;
}
header#main_head nav.main ul li:last-child img{
    height: 30px;
}

@font-face {
    font-family: "Bariol_Regular";
    src: url(../fonts/Bariol_Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Bariol_Bold";
    src: url(../fonts/Bariol-Bold.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Bariol_Light";
    src: url(../fonts/Bariol-Light.otf);
    font-weight: normal;
}



html, body{
    font-family: Bariol_Regular, sans-serif;
    letter-spacing: 1.5;
}

body{
    background-color: #FFF8E8;
}


footer nav{
    
    border-top: 2px;
    border-top-color: #3f464c;
    border-top-style: solid;
    background-color: #FFF8E8;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 75px;
    top: 100%;
    margin-top: -75px;


    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    
}
footer nav.close{
    margin-top: 0px;
}

footer nav ul{
    float: left;
    width: 100%;
    text-align: center;
    height: 75px;
    
}

footer nav ul li{
    display: inline-block;
    width: 75px;
    height: 75px;
    
}

footer nav ul li a{
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    background-size: 30px auto;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.home.selected{
    background-image: url(../imgs/logo.png);
}

.favorieten.selected{
    background-image: url(../imgs/favorieten.png);
}

.chat.selected{
    background-image: url(../imgs/chat.png);
}

.profiel.selected{
    background-image: url(../imgs/profiel.png);
}

.home{
    background-image: url(../imgs/logo-kleurloos.png);
}

.favorieten{
    background-image: url(../imgs/favorieten-kleurloos-beter.png);
}

.chat{
    background-image: url(../imgs/chat-kleurloos.png);
}

.profiel{
    background-image: url(../imgs/profiel-kleurloos.png);
}


@keyframes logo_inside {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes logo_inside {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes logo_inside {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes logo_inside {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}







